## Chapter 1: Cohort Analysis

Understand customers based on their unique behavioral attributes.

It is a powerful analytics technique to group customers and enable the business to customize their product offering and marketing strategy.
For example, we can grup the customers by the month of the first purchase, segment by their recency, frequency and monetary values or run k-means clusterng to identify similar groups of customers based on their purchasing behavior. You will dig deeper into customer purchasing habits and uncover actionable insights.

Cohort analysis is a descriptive analytics tool.
It groups the customers into mutually exclusive cohorts - which are then measured over time. Cohort analysis provides deeper insights than the so-called vanity metrics, it helps with understanding the high level trends better by providing insights on metrics across both the product and the customer lifecycle.

**There are tree major types of cohorts**:

- *Time cohorts* are customers who signed up for a product or service during a particular time frame. Analyzing these cohors shows the customer's behavior depending on the time they started using the company's productos or services. The time may be monthly or quarterly, even daily. 

- *Behavior cohorts* are customers who purchased a product or subscribed to a service in the past, it groups customers by the type of product or service they signed up. Customers who signed up for basic level services might have different needs than those who signed up for advanced services. Understanding the need of the various cohorts can be help a company design custom-made services or products for particular segments.

- *Size cohorts* refer to the various sizes of customers who purchase company's products or services. This categorization can be based on the amount of spending in some period of time after acquisition, or the product type that the customer spent most of their order amount in some period of time.

**The main elements of the cohort analysis**:

- The cohorts analysis data is typically formatted as a pivot table.
- The row values represent the cohort. In this case it's the month of the first purchase and customers are poled into these groups based on their first ever purchase.
- The column values represent months since acquisition. It can be measured in other time periods like months, days, even hours or minutes. That depends on the scope of the analysis.
- Finally, the metrics are in the table. Here, we have the count of active customers. The first column with cohort index 'one' represents the total number of customers in that cohort. This is the month of their first transaction. We will use this data in the next lessons to calculate the retention rate and other metrics.



#### Resume

* What is Cohort Analysis?

    - Mutually exclusive segments - cohorts
    - Compare metrics across **product** lifecycle
    - Compare metrics across **customer** lifecycle

* Types of cohorts

    - Time cohorts
    - Behavior cohorts
    - Size cohorts
    
* Elements of the cohort analysis

    - Pivot table
    - Assigned cohort in rows
    - Cohort index in columns
    - Metrics in the table

In [32]:
import pandas as pd

online = pd.read_csv('Online Retail.csv', sep=';')

In [33]:
online.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1/12/2010 8:26,"2,55",17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1/12/2010 8:26,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1/12/2010 8:26,"2,75",17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1/12/2010 8:26,"3,39",17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1/12/2010 8:26,"3,39",17850.0,United Kingdom

In [34]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null object
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

In [35]:
online.describe()

            Quantity     CustomerID
count  541909.000000  406829.000000
mean        9.552250   15287.690570
std       218.081158    1713.600303
min    -80995.000000   12346.000000
25%         1.000000   13953.000000
50%         3.000000   15152.000000
75%        10.000000   16791.000000
max     80995.000000   18287.000000

In [40]:
189/256 * 100 - 100

-26.171875